body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('/public/apple.jpg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.meal_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.meals_inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.meal_input input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-left: 15px;
  width: 400px;
}

.meal_input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #040330;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.searching_button{
max-width: 150px;
}

.meal_input button:hover {
  background-color: #212388;
}

.meal_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.meal_card {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  
}

.meal_card:hover {
  transform: scale(1.05);
}

.meal_info p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}


.meal_info p strong {
  font-weight: 600;
  color: #000;
}

.meal_container p {
  font-size: 18px;
  color: #313030;
  text-align: center;
}