.hero-section {
    background-image: url('/public/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8e0ec;
  margin: 0;
  padding: 0;
}

.hero-section {
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-section button {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero-section button:hover {
  background-color: #ffffff;
  color: #000000;
}

#diet-nutrition {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 10px;
}

#diet-nutrition h1 {
  color: #343a40;
}

#diet-nutrition p {
  color: #666666;
  line-height: 1.8;
  font-size: 1.1rem;
}

#diet-nutrition h2 {
  color: #1d1e6b;
  margin-top: 2rem;
  font-size: 2rem;
}


#diet-nutrition img {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s;
}

section p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  #diet-nutrition img {
    width: 100%;
    height: auto;
  }
}
