.hero-section  {
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  font-family: Arial, sans-serif;
}

.navbar-custom {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); 
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar-brand-custom {
  font-weight: bold;
  font-size: 24px;
  color: #fff !important;
  margin-right: 30px;
  margin-left: 40px;
}

.nav-link-custom {
  color: #fff !important;
  margin-right: 20px;
  font-size: 16px;
  position: relative;
}


.nav-link-custom:hover {
  color: #fff !important;
}

.nav-link-custom::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.btn-sign-in,
.btn-sign-up {
  border-radius: 20px;
  padding: 8px 20px;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 10px;
  background-color: transparent;
}

.btn-sign-in:hover,
.btn-sign-up:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.content {
  color: white;
  text-align: center;
  margin-top: 100px;
}
